# Server Settings
PORT=3000

# Database Settings
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=my_project_db

# Security
JWT_SECRET=your_super_secret_jwt_key_here

# OpenTyphoon AI
TYPHOON_API_KEY=YOUR_API_KEY_HERE
